name: CI
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    if: contains(github.repository, 'sample-javafx-project') && !github.event.repository.fork
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2025
          - macos-15
          - ubuntu-24.04
        jvm_version: [21, 25]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.28
      - uses: DanySK/build-check-deploy-gradle-action@4.0.22
        with:
          java-version: ${{ matrix.jvm_version }}
          should-run-codecov: false
          should-deploy: false
          should-validate-wrapper: ${{ matrix.os == 'ubuntu' && matrix.jvm_version == '17' }}
  success:
    runs-on: ubuntu-24.04
    needs:
      - build
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
